:host {
    display: block;
}

.chat-references-list {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__title-container {
        span {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            color: #ffffff;
        }
    }
}
